html, body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  border-collapse: collapse;
  display: table;
  background: #27217a;
  min-width: 9rgb(30, 13, 13);
  font-family: "Proxima Nova", system-ui, -apple-system, Roboto, Arial, Oxygen, Ubuntu, sans-serif;
  table-layout: fixed;
}

html {
  display: block;
}